html, body {
	width: 100%;
	height: 100%;
	background-color: black;
}

.canvas {
	width: 480px;
	height: 320px;
	background-color: white;
}


// checking if ID works
// #PongStage {
// 	background-color: red;
// 	height: 100%;
// 	width: 100%;
// }


// add remove mobile highlight code here